.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      .register__error
        = render partial: 'shared/error_messages', locals: {model: @message}
      .register__heading
        = icon 'fas', 'envelope'
        = 'メッセージ作成'
      = form_with model: [@friend, @message], local: true, class: :register__form do |form|
        %table
          %tr
            %th.register__form--th タイトル
            %td.register__form--td= form.text_field :title, class: :register__text
          %tr
            %th.register__form--th 本文
            %td.register__form--td= form.text_area :text, class: :'register__text register__text--area', id: :section_gist
          %tr
            %th.register__form--th.register__count
            %td.register__form--td.register__count#gist-count
              = @message.persisted? && @message.introduction? ? "#{@message.introduction.length}/1000" : "0/1000"
        .register__submit
          = form.submit '送信する', class: :'register__submit--btn'
    = render partial: 'shared/side'
