.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent.messageContent#message_view
      .mainContentSection.messageContent__box
        .messageContent__heading
          .messageContent__user
            - if @message.read == 0
              = icon "fas", "envelope", {id: :message_unread}
              %span#message_unread_text= '未読'
            - else
              = icon "far", "envelope-open"
              %span#message_unread_text= '既読'
            - if @message.user_id == current_user.id
              = link_to profile_path(@message.receiver.id) do
                = icon 'fas', 'user', {class: :messageContent__icon}
                = @message.receiver.nickname
              %span.messageContent__send= 'さんに送信'
            - else
              = link_to profile_path(@message.user.id) do
                = icon 'fas', 'user', {class: :messageContent__icon}
                = @message.user.nickname
              %span.messageContent__receive= 'さんから受信'
          .messageContent__time= l @message.created_at, format: :short
        .messageContent__title-header= 'タイトル'
        .messageContent__title= @message.title
        .messageContent__text-header= '本文'
        .messageContent__text
          = safe_join(@message.text.split("\n"),tag(:br))
        = hidden_field_tag :message_id, @message.id
    = render partial: 'shared/side'



