= form_with model: @profile, local: true, class: :register__form do |form|
  %table
    %tr
      %th.register__form--th 都道府県
      %td.register__form--td= form.select :prefecture, Profile.prefectures.keys, {prompt: '選択してください'}, class: :register__text
    %tr
      %th.register__form--th 自己紹介
      %td.register__form--td= form.text_area :introduction, class: :'register__text register__text--area', id: :section_gist
    %tr
      %th.register__form--th.register__count
      %td.register__form--td.register__count#gist-count
        = @profile.persisted? && @profile.introduction? ? "#{@profile.introduction.length}/1000" : "0/1000"
  .register__submit
    = form.submit '登録する', class: :'register__submit--btn'
