.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      .register__error
        = render partial: 'shared/error_messages', locals: {model: @profile}
      .register__heading
        = icon 'fas', 'id-card'
        = 'プロフィール編集'
      = render partial: 'profiles/form'
    = render partial: 'shared/side'
