.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      .mainSearch
        .mainSearch__title= "\"#{@keyword}\"の検索結果"
        = render partial: 'shared/documents', locals: {documents: @user_documents}
    = render partial: 'shared/side'
