.search
  = render partial: 'shared/menu'
  .searchWrap
    .searchContent
      .searchContent__title= "#{@keyword}の検索結果"
      = render partial: 'shared/documents', locals: {documents: @user_documents}
    = render partial: 'shared/side'
