.user
  = render partial: 'shared/menu'
  .userWrap
    .userInfo
      .userContent.userContent__user
        .userContent__title ユーザー情報
        %table.userContent__table
          %tr
            %th
              = icon 'fas', 'file-signature'
              = 'ユーザー名'
            %td= current_user.nickname
          %tr
            %th
              = icon 'fas', 'envelope'
              = 'メールアドレス'
            %td= current_user.email

      .userContent
        .userContent__title 登録文書一覧
        = render partial: 'shared/documents', locals: {documents: current_user.documents}
      .userContent
        .userContent__title 作成区分一覧
        = render partial: 'shared/sections', locals: {sections: current_user.sections}
    = render partial: 'shared/side'



