.menu
  -# .menu__list
  -#   = icon 'fas', 'search'
  -#   詳細検索
  = link_to sections_path ,class: :menu__list do
    = icon 'fas', 'folder-open'
    = '登録区分一覧'
  = link_to new_section_path ,class: :menu__list do
    = icon 'fas', 'folder-plus'
    = '新規区分作成'
  = link_to new_document_path ,class: :menu__list do
    = icon 'fas', 'file-import'
    = '新規サイト登録'

