.menu
  = link_to owner_documents_path, class: :menu__list do
    = icon 'fas', 'network-wired'
    = 'WEBサイト一覧'
  - if user_signed_in? && @menu == 1
    .menu__contents
      = link_to owner_documents_path, class: :menu__content do
        = icon 'fas', 'map-marked-alt'
        = '登録コンテンツ'
      = link_to participation_documents_path, class: :menu__content do
        = icon 'fas', 'map-marked'
        = '参加コンテンツ'
      = link_to public_documents_path, class: :menu__content do
        = icon 'fas', 'share-alt'
        = '公開コンテンツ'
  = link_to new_section_path ,class: :menu__list do
    = icon 'fas', 'folder-plus'
    = '新規区分作成'
  = link_to new_document_path ,class: :menu__list do
    = icon 'fas', 'file-upload'
    = '新規サイト登録'

