.menu
  .menu__list
    = icon 'fas', 'address-card'
    マイページ
  .menu__list
    = icon 'fas', 'users-cog'
    文書区分一覧
  .menu__list
    = icon 'fas', 'search'
    詳細検索
  = link_to new_document_path ,class: :menu__list do
    = icon 'fas', 'file-alt'
    = '新規文書登録'
