-# .userContent.userContent__mail
  -# .userContent__title 新着メール
%table.userMail
  - messages.each do |message|
    %tr
      %th.userMail__user
        - if message.read == 0
          = icon "fas", "envelope"
        - else
          = icon "far", "envelope-open"
        - if message.user_id == current_user.id
          %span.userMail__send= '送信'
          = message.receiver.nickname
        - else
          %span.userMail__receive= '受信'
          = message.user.nickname
      %td.userMail__title
        = link_to friend_message_path(message.friend_id, message.id), class: :'userMail__link' do
          = message.title
      %td.userMail__time= l message.created_at, format: :short
