.sectionTable
  %table
    %tr
      %th.sectionTable__th.sectionTable--heading
        = icon 'fas', 'folder-open'
        区分名
      %td.sectionTable__td.sectionTable__td--disclosure.sectionTable--heading
        = icon "fas", "user-lock"
        公開設定
      %td.sectionTable__td.sectionTable__td--users.sectionTable--heading
        = icon "fas", "users"
        参加ユーザー
    - sections.each do |section|
      %tr
        %th.sectionTable__th
          = link_to section_path(section.id), class: :'sectionTable__link' do
            %span= section.section_name
        %td.sectionTable__td.sectionTable__td--disclosure
          - if section.disclosure_before_type_cast ==  1
            %span.sectionContent__disclosure
              = icon 'fas', 'lock-open'
              = '公開'
          - else
            %span.sectionContent__disclosure.sectionContent__disclosure--lock
              = icon 'fas', 'lock'
              = '非公開'
        %td.sectionTable__td.sectionTable__td--users
          - section.participate_users.each do |user|
            %span
              = icon 'fas', 'user'
              = user.nickname
