.side
  .sideSection
    - if user_signed_in?
      = link_to users_path(current_user.id), class: :sideSection__heading do
        = icon 'fas', 'address-card'
        = 'マイページ'
  .sideSection
    - if user_signed_in?
      = link_to profile_path(current_user.id), class: :sideSection__heading do
        = icon 'far', 'id-card'
        = 'マイプロフィール'
  .sideSection
    = link_to owner_sections_path, class: :sideSection__heading do
      = icon 'fas', 'folder-open'
      管理区分一覧
    - @owner_sections.each do |section|
      .sideSection__title
        = link_to section_path(section.id), class: :sideSection__link do
          = icon 'fas', 'folder'
          = section.section_name
          