.side
  .sideSection
    - if user_signed_in?
      = link_to users_path(current_user.id), class: :sideSection__heading do
        = icon 'fas', 'address-card'
        = 'マイページ'
      .sideSection__title
        = link_to received_mail_users_path, class: :sideSection__link do
          = icon 'fas', 'inbox'
          = '受信メール'
      .sideSection__title
        = link_to send_mail_users_path, class: :sideSection__link do
          = icon 'far', 'paper-plane'
          = '送信メール'
  .sideSection
    = link_to owner_sections_path, class: :sideSection__heading do
      = icon 'fas', 'folder-open'
      管理区分一覧
    - @owner_sections.each do |section|
      .sideSection__title
        = link_to section_path(section.id), class: :sideSection__link do
          = icon 'fas', 'folder'
          = section.section_name
  .sideSection
    = link_to sections_path, class: :sideSection__heading do
      = icon 'fas', 'folder-open'
      参加区分一覧
    - @participation_sections.each do |section|
      .sideSection__title
        = link_to section_path(section.id), class: :sideSection__link do
          = icon 'fas', 'folder'
          = section.section_name
