= form_with model: section, local: true, class: :register__form do |form|
  %table
    -# = form.number_field :id
    -# #select_parent
    -# #select_children
    -# #select_grandchildren
    -# %tr
    -#   %th 区分選択
    -#   %td= form.collection_select :parent_id, Section.all, :id, :section_name, { prompt: '選択または新規区分を作成' }, { class: :register__text }
    %tr
      %th 区分名
      %td= form.text_field :section_name, class: :register__text
    %tr
      %th 公開設定
      %td= form.select :disclosure, Section.disclosures.keys, {prompt: '選択してください'}, class: :register__text
    %tr
      %th メンバー
      %td
        .register__members
          = form.collection_check_boxes :participate_user_ids, User.all, :id, :nickname do |b|
            .register__checkbox
              = b.check_box
              = b.label { b.text } 
  .register__submit
    = form.submit '登録する', class: :'register__submit--btn'
