.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      .register__error
        = render partial: 'shared/error_messages', locals: {model: @section}
      .register__heading
        = icon 'fas', 'folder'
        = '区分編集'
      = render partial: 'form', locals: {section: @section}
    = render partial: 'shared/side'
