.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      - @sections.each do |section|
        .mainContentSection
          .mainContentSection__title
            = link_to section_path(section.id), class: :mainContentSection__link do
              = icon 'fas', 'folder'
              = section.section_name
            = render partial: 'shared/documents', locals: {documents: section.documents.limit(5)}
    = render partial: 'shared/side'
