.register
  = render partial: 'shared/menu'
  .registerWrap
    .register__content
      .register__heading
        = icon 'fas', 'folder-plus'
        = '新規区分作成'
      = render partial: 'shared/form_sections', locals: {section: @section}
    = render partial: 'shared/side'
