.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      .mainContent__title
        = icon 'fas', 'folder-open'
        = '管理グループ一覧'
      = render partial: 'box', locals: {sections: @owner_sections}
    = render partial: 'shared/side'
