.section
  = render partial: 'shared/menu'
  .sectionWrap
    .sectionContent
      = link_to "区分編集", edit_section_path(@section.id), class: :sectionContent__link
      = link_to "区分削除", section_path(@section.id), method: :delete, class: :sectionContent__link, data: {confirm: "削除しますか？"}
      .sectionContent__box
        .sectionContent__title
          = icon 'fas', 'folder-open'
          = @section.section_name
        = render partial: 'shared/documents', locals: {documents: @section.documents}
    = render partial: 'shared/side'
