.register
  = render partial: 'shared/menu'
  .registerWrap
    .register__content
      .register__heading
        = icon 'fas', 'file'
        = 'サイト情報編集'
      = render partial: 'documents/form'
    = render partial: 'shared/side'
