.main
  .content
    - @groups.each do |group|
      .contentGroup
        .contentGroup__title
          = link_to group_path(group.id), class: :contentGroup__link do
            = group.group_name
          - (group.documents.limit(5)).each do |document|
            = link_to document_path(document.id), class: :contentGroup__link do
              .contentGroup__doc
                %span.contentGroup__doc--title= document.title
                %span.contentGroup__doc--note= document.note
  = render partial: 'shared/side', locals: {tab_index: 1}
