.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      .mainContent__top
        = image_tag '/images/1008234_s.jpg', alt: 'main_photo', class: :'mainContent__top--image'
        .mainContent__explain
          .mainContent__explain--heading
            = icon 'fas', 'paperclip'
            = 'WEBサイトのブックマーク登録ツール'
          .mainContent__explain--text ・WEBサイト情報を見失わないように管理できます。
          .mainContent__explain--text ・ブックマークに説明を入れて分類ごとに分けて簡単に登録。
          .mainContent__explain--text ・コメントを入れて他のユーザーとも情報を共有できます。
      - if user_signed_in?
        .mainContentSection
          .userContent__title お知らせ
          = render partial: 'shared/information'
          .userContent__mail
            = link_to received_mail_users_path, class: :'userContent__link userContent__link--blue' do
              .userContent__title.userContent__title--next メールBOX
            = render partial: 'shared/messages_list', locals: {messages: @messages}
      - @user_sections.each do |section|
        .mainContentSection
          = link_to section_path(section.id), class: :mainContentSection__link do
            = icon 'fas', 'folder'
            = section.section_name
          %span.mainContentSection__owner
            = icon 'fas', 'user-cog'
            = link_to section.user.nickname, profile_path(section.user_id), class: :'mainContentSection__owner--link'
          - if section.disclosure_before_type_cast ==  1
            %span.mainContentSection__disclosure
              = icon 'fas', 'lock-open'
          - else
            %span.mainContentSection__disclosure.mainContentSection__disclosure--lock
              = icon 'fas', 'lock'
          = render partial: 'shared/documents', locals: {documents: section.documents.limit(3)}
    = render partial: 'shared/side'
