.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      .mainContent__top
        = image_tag '1008234_s.jpg', alt: 'main_photo', class: :'mainContent__top--image'
        .mainContent__explain
          .mainContent__explain--heading
            = icon 'fas', 'paperclip'
            = 'PDF文書を手軽に管理できるツールです'
          .mainContent__explain--text ・WEB上のPDF資料を項目ごとに分けて簡単に登録。
          .mainContent__explain--text ・文書に説明やコメントを入れて他のユーザーと共有できる。
          .mainContent__explain--text ・手元のPDFをサーバに保存・管理する機能を実装予定（有料）。
      - @sections.each do |section|
        .mainContentSection
          .mainContentSection__wrap
            = link_to section_path(section.id), class: :mainContentSection__link do
              = section.section_name
            = render partial: 'shared/documents', locals: {documents: section.documents.limit(5)}
    = render partial: 'shared/side'
