.main
  -# = render partial: 'shared/search', locals: {tab_index: 1}
  .content
    - @groups.each do |group|
      .contentGroup
        .contentGroup__title
          = link_to group_path(group.id), class: :contentGroup__link do
            = group.group_name
          - (group.documents.limit(5)).each do |document|
            = link_to document_path(document.id), class: :'contentGroup__link contentGroup__link--white' do
              .contentGroup__doc
                .contentGroup__doc--title
                  %span= document.title
                .contentGroup__doc--note
                  %span= document.note
  .side
