.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      .mainContent__top
        = image_tag '1008234_s.jpg', alt: 'main_photo', class: :'mainContent__top--image'
        .mainContent__explain
          .mainContent__explain--heading
            = icon 'fas', 'paperclip'
            = 'WEBサイトのお気に入り登録ツールです'
          .mainContent__explain--text ・ブラウザのブックマーク機能では物足りない方のためのツール。
          .mainContent__explain--text ・ブックマークに説明を入れて分類ごとに分けて簡単に登録。
          .mainContent__explain--text ・コメントを入れて他のユーザーとも情報を共有できる。
      - @user_sections.each do |section|
        .mainContentSection
          .mainContentSection__wrap
            = link_to section_path(section.id), class: :mainContentSection__link do
              = icon 'fas', 'folder'
              = section.section_name
            %span.mainContentSection__owner
              = icon 'fas', 'user-cog'
              = section.user.nickname
            - if section.disclosure_before_type_cast ==  1
              %span.mainContentSection__disclosure
                = icon 'fas', 'lock-open'
            - else
              %span.mainContentSection__disclosure.mainContentSection__disclosure--lock
                = icon 'fas', 'lock'
            = render partial: 'shared/documents', locals: {documents: section.documents.limit(3)}
    = render partial: 'shared/side'
