.register
  = render partial: 'shared/menu'
  .registerWrap
    .register__content
      .register__heading
        = icon 'fas', 'file-import'
        = '新規サイト登録'
      = render partial: 'form'
    = render partial: 'shared/side'
