.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      .register__error
        = render partial: 'shared/error_messages', locals: {model: @document}
      .register__heading
        = icon 'fas', 'file-upload'
        = '新規サイト登録'
      = render partial: 'documents/form'
    = render partial: 'shared/side'
