- @menu = 1
.main
  = render partial: 'shared/menu'
  .mainWrap
    .mainContent
      .mainBtn
        = link_to owner_documents_path, class: :"mainBtn__link#{@add_class1}" do
          = icon 'fas', 'map-marked-alt'
          = '登録コンテンツ'
        = link_to participation_documents_path, class: :"mainBtn__link#{@add_class2}" do
          = icon 'fas', 'map-marked'
          = '参加コンテンツ'
        = link_to public_documents_path, class: :"mainBtn__link#{@add_class3}" do
          = icon 'fas', 'share-alt'
          = '公開コンテンツ'
      = render partial: 'shared/documents', locals: {documents: @documents}
    = render partial: 'shared/side'
