.devise
  .devise__wrap
    .devise__title
      = icon "fas", "sign-in-alt"
      ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .devise__field
        = f.label :email, class: :devise__label do
          = icon "fas", "envelope"
          = "メールアドレス"
        = f.email_field :email, autofocus: true, autocomplete: "email", class: :'devise__input devise__input--alpha'
      .devise__field
        = f.label :password, class: :devise__label do
          = icon "fas", "key"
          = "パスワード"
        = f.password_field :password, autocomplete: "current-password", class: :'devise__input devise__input--alpha'
      - if devise_mapping.rememberable?
        .devise__field
          = f.check_box :remember_me
          = f.label :remember_me, class: :devise__label
      .devise__actions
        = f.submit "ログインする", class: :devise__submit
    = render "devise/shared/links"
