!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Bookmark Repository
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .headerBar
        .headerBtn#three_bar
          %span
        .hiddenTitle
          = link_to root_path, class: :hiddenTitle__link do
            = icon 'fas', 'book'
            Bookmark Repository
      .hiddenMenu#hidden_menu
        = form_with url: documents_searches_path, method: :get, local: true, class: :hiddenSearch do |f|
          = f.text_field :keyword, class: :hiddenSearch__input
          = f.submit '検索', class: :hiddenSearch__submit
        .hiddenContent
          - if user_signed_in?
            = link_to users_path, class: :hiddenContent__nickname do
              = icon 'fas', 'address-card'
              = current_user.nickname
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :hiddenContent__btn
          - else
            = link_to '新規登録', new_user_registration_path, class: :hiddenContent__btn
            = link_to 'ログイン', new_user_session_path, class: :hiddenContent__btn
      
        .hiddenContent
          = link_to received_mail_users_path, class: :hiddenContent__heading do
            = icon 'fas', 'inbox'
            = 'メールBOX'
        .hiddenContent
          = link_to owner_sections_path, class: :hiddenContent__heading do
            = icon 'fas', 'folder'
            = '管理グループ一覧'
        .hiddenContent
          = link_to sections_path, class: :hiddenContent__heading do
            = icon 'fas', 'folder'
            = '参加グループ一覧'
      
      .heading
        .headingTitle
          = link_to root_path, class: :headingTitle__link do
            = icon 'fas', 'book'
            Bookmark Repository
        = form_with url: documents_searches_path, method: :get, local: true, class: :headingSearch do |f|
          .headingSearch__container
            = f.text_field :keyword, class: :headingSearch__input
            .headingSearch__btn
              = f.submit "検索", class: :headingSearch__submit
        .headingUser
          - if user_signed_in?
            = link_to users_path, class: :headingUser__nickname do
              = icon 'fas', 'address-card'
              %span.headingUser__nickname--text= current_user.nickname
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: :headingUser__btn
          - else
            = link_to '新規登録', new_user_registration_path, class: :headingUser__btn
            = link_to 'ログイン', new_user_session_path, class: :headingUser__btn
    = yield
    .footer
      .footer__wrap
        -# .footer__image
        -#   背景画像は
        -#   %a{href: "https://pixabay.com/ja/users/ddzphoto-5605533/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4827988"} ddzphoto
        -#   氏によるもの （
        -#   %a{href: "https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4827988"} Pixabay
        -#   から ）
        .footer__copyright
          = '© 2020 Bookmark Repository All Right Reserved.'
